<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<title>요인분석</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../static/css/factor.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>		
	</head>
    <body>
        <div class="wrap">
            <header>
                <button class="btn_menu" onclick="modal('block')">
                    <img src="../static/image/menu_icon.png">
                </button>
                <h1>
                    <b>매출 요인 분석</b>
                </h1>
                <div class="modal" id="modal_on">
                    <nav class="inner_nav">
                        <ul class="main_menu">
                            <li><a href="/">메인</a></li>
                            <li><a href="/extra">부가서비스</a></li>
                        </ul>
                    </nav>
                    <button class="btn_close" onclick="modal('none')">
                        <img src="../static/image/close_icon.png">
                    </button>
                </div>
            </header>
            <section id="map_section">
                <div class="map">
                    <h2>서울시 주요 상권 지도</h2>
                    <iframe id="html-contents" src="/factor/map"></iframe>
                </div>
                <div class="map_explain">
                    <h1>
                        <b>TOP10%</b>
                        서울시 주요 상권
                    </h1>
                    <h3>서울시에서 매출 상위 10% 상권에는 어떤 이유가 있을까?</h3>
                    <p>매출과 집객시설, 유동인구, 지출목록, 직장인구 데이터를 바탕으로</p>
                    <p>상관관계를 분석해 보았습니다. </p>
                    <p><b>수치가 0에 가까울수록 상관관계가 적으며</b></p>
                    <p><p></p>1과 -1에 가까워 질수록 각각 양, 음의 관계를 나타냅니다.</p></p>
                </div>
            </section>
            <section id="map_graph">
                <div class="map_graph_1">
                    <div class="graph_box">
						<div class="corr">
							<canvas id="corr_1"></canvas>
							<script>
								const job = document.getElementById('corr_1').getContext('2d');
								const jobChart = new Chart(job, {
									type: 'bar',
									data: {
										labels: {{job_data[0] | tojson}},
										datasets: [{
											label: '상관관계',
											data: {{job_data[1] | tojson}},
											backgroundColor: [
												'#1a7cff'
											],
											borderColor: [
												'rgba(255, 99, 132, 1)'
											],
											borderWidth: 1,
											borderColor: '#f0f0f0',
											hoverBorderWidth:4,
										}]
									},
									options: {
										indexAxis:'y',
										responsive: false,
										scales: {
											x:{
												grid:{
													display:false,
												}
											},
											y: {
												grid:{
													display:false,
												},
												beginAtZero: true
											}
										},
										plugins: {
										title:{
											display:true,
											text:"직장인구 유형별 상관관계",
											fontSize:10
										},
										legend:{
											display:false,
										}
									}
									}
									
								})
							</script>
							<p class="p_result"><b>30대 여성 직장인구수</b>가 상권 매출과 밀접한 관계를 보입니다.</p>
						</div>
                    </div>
					<div class="graph_box">
						<div class="corr">
							<canvas id="corr_2"></canvas>
							<script>
								const facil = document.getElementById('corr_2').getContext('2d');
								const facilChart = new Chart(facil, {
									type: 'bar',
									data: {
										labels: {{fac_data[0] | tojson}},
										datasets: [{
											label: '상관계수',
											data: {{fac_data[1] | tojson}},
											backgroundColor: [
												'#1a7cff'
											],
											borderColor: [
												'rgba(255, 99, 132, 1)'
											],
											borderWidth: 1,
											borderColor: '#f0f0f0',
											hoverBorderWidth:4,
										}]
									},
									options: {
										indexAxis:'y',
										responsive: false,
										scales: {
											x:{
												grid:{
													display:false,
												}
											},
											y: {
												grid:{
													display:false,
												},
												beginAtZero: true
											}
										},
										plugins: {
											title:{
												display:true,
												text:"집객시설 상관관계",
												fontSize:10
											},
											legend:{
												display:false
											}
										}
									}
								
								});
							</script>
							<p class="p_result">상권내 집객시설, 은행, 지하철역 등이 상권 매출이 <b>유의미한 관계</b>를 보입니다.</p>
						</div>
                    </div>
				</div>
                <div class="map_graph_1">
					<div class="graph_box">
						<div class="corr">
							<canvas id="corr_3"></canvas>
							<script>
								const foot = document.getElementById('corr_3').getContext('2d');
								const footChart = new Chart(foot, {
									type: 'bar',
									data: {
										labels: {{foot_data[0] | tojson}},
										datasets: [{
											label: '상관관계',
											data: {{foot_data[1] | tojson}},
											backgroundColor: [
												'#1a7cff'
											],
											borderColor: [
												'rgba(255, 99, 132, 1)'
											],
											borderWidth: 1,
											borderColor: '#f0f0f0',
											hoverBorderWidth:4,
										}]
									},
									options: {
										indexAxis:'y',
										responsive: false,
										scales: {
											x:{
												grid:{
													display:false,
												}
											},
											y: {
												grid:{
													display:false,
												},
												beginAtZero: true
											}
										},
										plugins: {
										title:{
											display:true,
											text:"유동인구 상관관계",
											fontSize:10
										},
										legend:{
											display:false,
										}
									}
									}
								});
							</script>
							<p class="p_result">낮 시간대 유동인구는 매출과 <b>양의 상관관계</b>,<br>밤 시간대 유동인구는 매출과 <b>x음의 상관관계</b>를 보입니다.</p>
						</div>
					</div>
					<div class="graph_box">
						<div class="corr">
							<canvas id="corr_4"></canvas>
							<script>
								const income = document.getElementById('corr_4').getContext('2d');
								const incomeChart = new Chart(income, {
									type: 'bar',
									data: {
										labels: {{income_data[0] | tojson}},
										datasets: [{
											label: '상관계수',
											data: {{income_data[1] | tojson}},
											backgroundColor: [
												'#1a7cff'
											],
											borderColor: [
												'rgba(255, 99, 132, 1)'
											],
											borderWidth: 1,
											borderColor: '#f0f0f0',
											hoverBorderWidth:4,
										}]
									},
									options: {
										indexAxis:'y',
										responsive: false,
										scales: {
											x:{
												grid:{
													display:false,
												}
											},
											y: {
												grid:{
													display:false,
												},
												beginAtZero: true
											}
										},
										plugins: {
											title:{
												display:true,
												text:"지출분야 상관관계",
												fontSize:10
											},
											legend:{
												display:false
											}
										}
									}
								});
							</script>
							<p class="p_result">상권 주민들의 <b>월 평균 소득 수준</b>이 상권 매출과 다소 영향이 있는것으로 보입니다.</p>
						</div>
					</div>
                </div>
            </section>
        </div>

		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="../static/js/factor.js"></script>
    </body>
</html>
