<html>
    <head>
        <meta charset="UTF-8">
        <title>프랜차이즈 분석</title>
        <link rel="stylesheet" type="text/css" href="../static/css/extra.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
    </head>
    <body>
        <div class="wrap">
            <header id="home">
                <button class="btn_menu" onclick="modal('block')">
                    <img src="../static/image/menu_icon.png">
                </button>
                <h1>
                    <b style="white-space:nowrap;">부가서비스</b>
                </h1>
                <div class="modal" id="modal_on">
                    <nav class="inner_nav">
                        <ul class="main_menu">
                            <li><a href="/">메인</a></li>
                            <li><a href="/factor">요인분석</a></li>
                        </ul>
                    </nav>
                    <button class="btn_close" onclick="modal('none')">
                        <img src="../static/image/close_icon.png">
                    </button>
                </div>
                <!-- <img src="../static/image/menu_icon.png" class="btn_main"> -->
                <nav>
                    <ul>
                        <li><a href='#arbeit'>아르바이트</a></li>
                        <li><a href="#franchise">프랜차이즈</a></li>
                        <li><a href="#real_estate">부동산</a></li>
                    </ul>
                </nav>
            </header>
            <section id="search">
                <!-- <div class="search_box"> -->
                <label>상권명: </label>
                <input type="text" id="commercial_area" placeholder="예) 양화로1길">
                <label>업종 선택: </label>
                <select id="upjong">
                    <option value="" selected>업종</option>
                </select>
                <button id="btn_search" class="btn_search">검색</button>
                <div class="area_list">
                    <ul id="detail_commercial_area">

                    </ul>
                </div>
                <!-- </div> -->
            </section>
            <section id="arbeit">
                <div class="title">
                    <h2>
                        <b>01</b>
                        <a href='#home'>아르바이트</a>
                    </h2>
                    <p>
                        선택한 상권과 업종의 평균적인 요일별, 시간대별 매출 차트를 통해<br>
                        아르바이트를 고용하면 좋을 요일과 시간대를 추천합니다.
                    </p>
                </div>
                <div id="arbeit_chart">
                    <div id="day">
                        <canvas id="canvas_day"></canvas>
                    </div>
                    <div id="time">
                        <canvas id="canvas_time"></canvas>
                    </div>
                </div>
            </section>
            <section id="franchise">
                <div class="title">
                    <h2>
                        <b>02</b>
                        <a href="#home">프랜차이즈</a>
                    </h2>
                    <p>
                        선택한 상권에서 매출 증감량이 가장 높은 업종의 프랜차이즈 중에서<br>
                        안정성과 수익성이 높은 프랜차이즈 정보입니다.
                    </p>
                </div>
                <div id="franchise_chart">
                    <div id="stability">
                        <canvas id="canvas_stability"></canvas>
                    </div>
                    <div id="profitability">
                        <canvas id="canvas_profitability"></canvas>
                    </div>
                </div>
            </section>
            <section id="real_estate">
                <div class="title">
                    <h2>
                        <b>03</b>
                        <a href="#home">부동산</a>
                    </h2>
                    <p>선택한 상권의 부동산 매물을 확인할 수 있습니다.</p>
                </div>
                <div class="item_search">
                    <label>거래 방식: </label>
                    <select id="dealing_way">
                        <option value="total" selected>전체</option>
                        <option value="monthly">월세</option>
                        <option value="lease">전세</option>
                        <option value="dealing">매매</option>
                        <option value="short_rental">단기 임대</option>
                    </select>
                    <label>가격대: </label>
                    <select id="price">
                        <option value="total" selected>전체</option>
                        <option value="one">1억 이하</option>
                        <option value="two">1억</option>
                        <option value="three">2억</option>
                        <option value="four">3억</option>
                        <option value="five">4억</option>
                        <option value="six">5억 이상</option>
                    </select>
                    <label>주차 가능: </label>
                    <input type="checkbox" id="parking">
                    <button id="btn_estate" class="btn_search">검색</button>
                </div>
                <div class="item_area">
                    <ul id="item_list">

                    </ul>
                </div>
            </section>
        </div>
    </body>
    <script src="../static/js/extra.js"></script>
</html>
